.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.counter-card{
    height:55vh;
    width:20%;
    border-style:solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count{
    font-size: 12vh;
}
.btn-container{width: 100%;
    text-align: center;
}
.button{
    height: 5vh;
    width: 33.3%;
    background-color:blueviolet;
    color: white;
    font-weight: 600;
    font-family: 'Roboto';
    margin: 3%;
    border: 0px;
    border-radius: 9px;
}
.reset-btn{
    height: 5vh;
    width: 15%;
    background-color:rgb(241, 13, 58);
    color: white;
    font-weight: 600;
    font-family: 'Roboto';
    margin: 3%;
    border: 0px;
    border-radius:9px ;
}
.button:hover, .reset-btn:hover{
    cursor: pointer;
    color: black;
}